/* Functions */
/* Without "rem" */
/*  With "rem"  */
/* Font face */
@media screen and (max-device-width: 40rem) {
  body {
    background-color: #f5f5f5;
    margin: 0 0.9375rem 0 0.9375rem;
    /*carte type de velo*/
    /*rayon de recherche*/ }
    body h3 {
      font-family: 'Heebo';
      font-weight: bold;
      font-size: 1.5625rem;
      display: inline-block;
      padding-bottom: 0.3125rem;
      position: relative; }
    body h4, body h5, body p {
      font-family: 'Montserrat', sans-serif; }
    body .c-card--preset-1 {
      padding-top: 0; }
    body .filtre img {
      padding-top: 1.25rem;
      width: 100%; }
    body .filtre .mdc-slider {
      background-color: white;
      border-radius: 2px; }
      body .filtre .mdc-slider .mdc-slider__thumb-container {
        color: #E9A816; } }

/*cartes magasins*/
@media screen and (min-device-width: 40.0625rem) {
  body {
    /* 	background-color: #f5f5f5; */
    margin-left: 30rem;
    margin-right: 27.375rem;
    /*rayon de recherche*/
    /**/ }
    body h3 {
      font-family: 'Heebo';
      font-weight: bold;
      font-size: 1.875rem;
      display: inline-block;
      padding-bottom: 0.3125rem;
      position: relative; }
    body h4, body h5, body p {
      font-family: 'Montserrat', sans-serif; }
    body .filtre img {
      padding-top: 1.25rem;
      width: 100%; }
    body .slidecontainer {
      background-color: white;
      height: 5rem;
      display: flex; }
    body .slider {
      margin: auto;
      -webkit-appearance: none;
      width: 100%;
      height: 0.4375rem;
      border-radius: 0.3125rem;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s; }
    body .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 50%;
      background: #E9A816;
      cursor: pointer; } }
