@import "../functions.scss";

@media screen and (max-device-width: getRem(640)) {
	body{
		.formulaire {
			padding: 0 1rem 0 1rem;

			.mdc-form-field {
				margin: getRem(20) 0 0 0;
				width: 100%;
			}

			.mdc-text-field--textarea {
				margin: getRem(55) 0 getRem(40) 0;
				width: 100%;
			}

			.button {
				.mdc-button{
					display: flex;
	   				margin: auto;
	   			}
	   		}
		}

	}
}

@media screen and (min-device-width: getRem(768)) {
	body {

		.formulaire {
			display: flex;
        	flex-direction: column;
        	padding: 0 getRem(160) 0 getRem(160);

        	.mdc-form-field {
				margin: getRem(20) 0 0 0;
				width: 100%;
			}

			.mdc-text-field--textarea {
				margin: getRem(55) 0 getRem(40) 0;
			}

        	.button {
        		margin: auto;
        	}
		}
	}

}

@media screen and (min-device-width: getRem(1440)) {
	body {

		.formulaire {
			display: flex;
        	flex-direction: column;
        	padding: 0 getRem(459) 0 getRem(459);

        	.mdc-form-field {
				margin: getRem(20) 0 0 0;
				width: 100%;
			}

			.mdc-text-field--textarea {
				margin: getRem(55) 0 getRem(40) 0;
			}

        	.button {
        		margin: auto;
        	}
		}
	}

}