    body {



      .second-viewport {



        .left-part {
          background-image: url(../../../res/images/art-bicycle-bike-623919.jpg);
          height: 45vh;
          text-align: center;
          background-repeat: no-repeat;
          text-align: center;
          background-position: -60px;
          background-size: cover!important;
          position: relative;

          .mdc-floating-label {
            color: var(--mdc-theme-primary);
          }

          .mdc-text-field.mdc-text-field-2.mdc-ripple-upgraded {
            margin-top: 1rem;
          }

          .inscription-form {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
          }

          .mdc-button.mdc-elevation--z3.mdc-elevation-transition {
            margin: auto;
            margin-top: 2rem;
          }

          .mdc-text-field__input {
            border-bottom-color: var(--mdc-theme-primary) !important;
            color: white;
          }

        }

        .right-part {
          background-image: url(../../../res/images/bicycle-bike-close-up-1239402.jpg);
          height: 45vh;
          text-align: center;
          background-repeat: no-repeat;
          text-align: center;
          background-position: -90px;
          background-size: cover!important;
          position: relative;

          .form-inscription-revendeur {


            p {
              color: white;
              font-family: Montserrat;
              position: absolute;
              top : 8rem;
              left: 50%;
              transform: translate(-50%, -50%);
              white-space: nowrap;
            }

            .mdc-icon-button.material-icons.mdc-elevation--z3 {
              background: #2D3037;
            }

          }

          .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading {
            border-color: white;
          }

          .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing  {
            border-color: white;
          }

          .inscription-form {
            display: flex;
          }

          .mdc-notched-outline.mdc-notched-outline--no-label {
            margin: auto;
          }

          .mdc-text-field.text-field.demo-text-field-outlined-shaped.mdc-text-field--outlined.mdc-text-field--no-label {
            height: 2.33rem;
            margin-right: 1rem;
          }

          .mdc-text-field__input {
            padding-left: 1rem;
          }

          .inner-button {
            margin: auto;
          }

        }

        h2 {
          font-family: Montserrat;
          color: white;
          font-size: 28px;
          text-transform: uppercase;
          text-align: center;
          position: absolute;
          top : 10%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
        }

        form {
          position: absolute;
          top : 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
        }

        button {
          display: flex;
        }

      }

      .inscription-revendeur-v2 {

        h2 {
          font-family: Montserrat;
          text-transform: uppercase;
          text-align: center;
          text-align: left;
          margin-left: 1rem;
          margin-top: 3rem;
        }



        .insc-v2 {

        background-color: #eeeee;
        text-align: center;


        .contenu-inscription {
          text-align: center;
        }

        .mdc-text-field__input {
          width: 18rem;
        }


        .mdc-text-field.mdc-ripple-upgraded {
          margin-top: 1rem;
        }

      }

      .info-v2 {
        background-color: #f5f5f5;
        text-align: center;
        padding-bottom: 3rem;

        .contenu-inscription {

          .insc-button {
            margin-top: 3rem;
          }

          .mdc-text-field.mdc-ripple-upgraded {
            margin-top: 1rem;
          }
          .mdc-text-field__input {
            width: 18rem;
          }

        }



        .right-block-informations {
          h2 {
            padding-top: 3rem;
          }





          .modif-pp-revendeur {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
          }



        }

        .pp-revendeur {

          display: flex;
          flex-direction: column;

          .block-pp {
            display: flex;
            margin-bottom: 3rem;
          }

          .pp-2{
            margin: auto;
          }
          .pp-3{
            margin: auto;
            margin-left: -.5rem;
            margin-right: -.5rem;
          }
          .pp-4{
            margin: auto;
          }

          .c-circle-preview.c-circle {
            margin: auto;
          }


          .c-circle {

            border-radius: 50%;
            overflow: hidden;
            position: relative;


            .c-circle__image {

              background-repeat: no-repeat;
              background-size: cover;
              width: 100%;
              height: 100%;
              background-position: center;
            }

            &.c-circle-preview {

              width: 200px;
              height: 200px;
              margin-top: 3rem;

            }

            &.c-circle-button {

              width: 80px;
              height: 80px;

            }

            .overlay {
              position: absolute;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              transition: background-color 0.25s ease-in-out;
            }

            &:hover .overlay {
              background-color: rgba(0, 0, 0, 0.25);
            }

          }

        }

        .info-horraire {

          .mdc-text-field.mdc-ripple-upgraded {
            width: 18rem;
          }

        }

        .right-content {

          .mdc-text-field.mdc-ripple-upgraded {
            width: 18rem;
          }

        }
      }



      }

      .insc-button {

        margin-bottom: 3rem;
        text-align: center;

        label {
          font-family: Montserrat;
        }


      .checkbox-accept {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;


      }
    }


    }



@media screen and (min-width: 641px) {

  body {


    .second-viewport {
      height: 100vh;
      display: flex;


      .left-part {
        background-image: url(../../../res/images/art-bicycle-bike-623919.jpg);
        text-align: center;
        height: 100vh;
        width: 50%;
        background-repeat: no-repeat;
        text-align: center;
        background-position: -300px;
        background-size: cover;
        position: relative;
        margin: auto;

      }

      .right-part {
        background-image: url(../../../res/images/bicycle-bike-close-up-1239402.jpg);
        text-align: center;
        background-repeat: no-repeat;
        text-align: center;
        height: 100vh;
        width: 50%;
        background-position: -10px;
        background-size: cover;
        position: relative;
        margin: auto;

        .form-inscription-revendeur {
          p {
            color: white;
            font-family: Montserrat;
            position: absolute;
            top : 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            margin-top: 19rem;
          }

        }





    }

    h2 {
      font-family: Montserrat;
      color: white;
      font-size: 28px;
      text-transform: uppercase;
      text-align: center;
      position: absolute;
      top : 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }

    form {
      position: absolute;
      top : 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }

    button {
      display: flex;
    }
  }
}

.inscription-revendeur-v2 {
  display: flex;

  .mdc-text-field__input {
    border-bottom-color: var(--mdc-theme-primary) !important;
  }

    .insc-v2 {
    margin: auto;
    width: 50%!important;

    .contenu-inscription-insc {
      display: flex;
      text-align: center;
      margin-top: 6rem;

      .mdc-text-field.mdc-ripple-upgraded {
        margin-bottom: 2rem;
      }

      .right-part-insc {
        margin: auto;
      }

      .left-part-insc {
        margin: auto;

      }
    }


}

    .info-v2 {
      margin: auto;
      width: 50%!important;
      background-color: white!important;

      h2 {
        margin-top: 5rem;
      }

      .contenu-inscription-info {

        display: flex;

        .left-content {
          margin: auto;

          .info-horraire {
            display: flex;
            flex-direction: column;
            margin-top: -2rem;

            .mdc-text-field.mdc-ripple-upgraded {
              margin-bottom: 3rem;
            }
          }
        }

        .right-content {
          margin: auto;
          width: 18rem;

          .mdc-text-field.mdc-ripple-upgraded {
            margin-bottom: 3rem;
          }

          .top-content {
            display: flex;
            flex-direction: column;
            margin-top: 12.3rem;
          }

          .bottom-content {
            display: flex;
            flex-direction: column;
          }

        }

      }

      }
    }



}


@media screen and (min-width: 600px) and (max-width: 1280px) {

  body {

    .inscription-revendeur-v2 {

      .insc-v2 {

        .mdc-text-field__input {
          width: 11rem;
        }
      }

      .info-v2 {

          .contenu-inscription-info {

                  .mdc-text-field.mdc-ripple-upgraded {
                    width: 11rem;
                  }


           }

           .pp-revendeur {
             .c-circle.c-circle-button {
               height: 60px;
               width: 60px;
             }
           }
        }
    }
  }
}

//HEADER-------------------


// @import "../functions.scss";
// @media screen and (min-width: 0px) and (max-width: 949px) {
// h1 {
//   position: fixed;
//   top: 2.5rem;
//   left: 2.5rem;
//   z-index: 6;
//   font-size: getRem(20);
//   font-weight: 900;
//   font-family: sans-serif;
//   text-transform: uppercase;
//   > span {
//     text-transform: none;
//     opacity: .5;
//     font-weight: 300;
//     font-size: getRem(12);
//   }
// }
//   input + label {
//     position: fixed;
//     top: getRem(30);
//     right: getRem(40);
//     height: getRem(20);
//     width: getRem(15);
//     z-index: 5;
//     span {
//       position: absolute;
//       width: 100%;
//       height: getRem(2);
//       top: 50%;
//       margin-top: -getRem(1);
//       left: 0;
//       display: block;
//       background: black;
//       transition: .5s;
//     }
//     span:first-child {
//       top: getRem(3);
//     }
//     span:last-child {
//       top: getRem(16);
//     }
//   }
//   label:hover {
//     cursor: pointer;
//   }
//   input:checked + label {
//     span {
//       opacity: 0;
//       top: 50%;
//     }
//     span:first-child {
//       opacity: 1;
//       transform: rotate(405deg);
//     }
//     span:last-child {
//       opacity: 1;
//       transform: rotate(-405deg);
//     }
//   }
//   input ~ nav {
//     background: white;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 3;
//     transition: .5s;
//     transition-delay: .5s;
//     overflow: hidden;
//     > .navigation-menu {
//       text-align: center;
//       display: flex;
//       flex-direction: column;
//       > li {
//         opacity: 0;
//         > a {
//           text-decoration: none;
//           text-transform: uppercase;
//           color: black;
//           font-weight: 700;
//           font-family: sans-serif;
//           display: block;
//         }
//       }
//     }
//   }
//   input:checked ~ nav {
//     height: 100%;
//     transition-delay: 0s;
//     > .navigation-menu {
//       > li {
//         opacity: 1;
//         transition-delay: .5s;
//       }
//     }
//   }
// }
// nav {
//   height: 5rem;
//   background-color: white;
//   width: 100%;
//   .navigation-logo {
//     margin: auto;
//     display: flex;
//    }
//   .navigation-menu {
//     height: 20rem;
//     display: inline-flex;
//     margin: auto;
//     width: 100%;
//     li {
//       list-style-type: none;
//       font-family: 'Heebo', sans-serif;
//       font-size: 1rem;
//       margin-top: 3rem;
//       a{
//         color: black;
//         text-decoration: none;
//         margin: auto;
//
//       }
//     }
//     a:hover {
//       color: #e9a816;
//     }
//     a:link {
//     }
//     a:visited {
//     }
//     a:active {
//       color: #e9a816;
//     }
//   }
// }
// @media screen and (min-width: 950px) and (max-width: 2400px) {
//   #burger {
//     display: none;
//   }
//   nav {
//     height: 5rem;
//     background-color: white;
//     width: 100%;
//     display: flex;
//     .navigation-logo {
//       margin: auto;
//       margin-left: 4.6rem;
//      }
//     .navigation-menu {
//       height: 100%;
//       display: flex;
//       padding-right: 4.375rem;
//       .navigation-trouver-velo {
//         margin-left: auto;
//       }
//       .navigation-magasins-velo {
//         margin-left: 3.75rem;
//       }
//       .navigation-espace-pro {
//         margin-left: 3.75rem;
//       }
//       li {
//         margin-top: auto;
//         margin-bottom: auto;
//         list-style-type: none;
//         font-family: 'Heebo', sans-serif;
//         font-size: 1rem;
//         text-transform: uppercase;
//         a{
//           color: black;
//           text-decoration: none;
//         }
//       }
//       a:hover {
//         color: #e9a816;
//       }
//       a:link {
//       }
//       a:visited {
//       }
//       a:active {
//         color: #e9a816;
//       }
//     }
//   }
// }
