@import "../functions.scss";

@media screen and (max-device-width: getRem(640)) {

	body {
	background-color: #f5f5f5;
	margin: 0 getRem(15) 0 getRem(15);

	h3 {
		font-family: 'Heebo';
		font-weight: bold;
		font-size: getRem(25);
		display: inline-block;
    	padding-bottom: getRem(5);
    	position: relative;
	}

	h4,h5,p {
		font-family: 'Montserrat', sans-serif;
	}

/*carte type de velo*/
	
	.c-card--preset-1 {
		padding-top: 0;
	}

/*rayon de recherche*/

	.filtre {
		img {
			padding-top: getRem(20);
			width: 100%;
		}
		.mdc-card {
			background-color: white;
			border-radius: 2px;	

		}

	}

/*cartes magasins*/



@media screen and (min-device-width: getRem(641)) {

	body {
	/* 	background-color: #f5f5f5; */
		margin-left : getRem(480);
		margin-right: getRem(438);

	h3 {
		font-family: 'Heebo';
		font-weight: bold;
		font-size: getRem(30);
		display: inline-block;
    	padding-bottom: getRem(5);
    	position: relative;
	}

	h4,h5,p {
		font-family: 'Montserrat', sans-serif;
	}


/*rayon de recherche*/

	.filtre {
		img {
			padding-top: getRem(20);
			width: 100%;
		}
	}
	.slidecontainer {
		background-color: white;
		height: getRem(80);
		display: flex;
	}

	.slider {
		 margin: auto;
		 -webkit-appearance: none;
		 width: 100%;
		 height: getRem(7);
		 border-radius: getRem(5);
		 background: #d3d3d3;
		 outline: none;
		 opacity: 0.7;
		 -webkit-transition: .2s;
		 transition: opacity .2s;
	}

	.slider::-webkit-slider-thumb {
		 -webkit-appearance: none;
		 appearance: none;
		 width: getRem(30);
		 height: getRem(30);
		 border-radius: 50%;
	     background: #E9A816;
		 cursor: pointer;
	}

/**/

	}
}

