@media screen and (max-device-width: 640px) {

  .main-viewport {
    height: 100vh;
    background-image: url(weelz-velo-cycliste-urbain-paris-2018-1576.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2750px;
    position: relative;
    background-position: -750px;
  }

  .main-title {
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: white;


  h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: Heebo;
  }

}

  .button-form {
    position: absolute;
    top : 90%;
    left: 50%;
    transform: translate(-50%, 50%);

    button {
      background: #E9A816;
    }

  }




}

@media screen and (min-device-width: 641px) {


body {


  .main-viewport {
    height: 100vh;
    background-image: url(weelz-velo-cycliste-urbain-paris-2018-1576.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2000px;
    position: relative;

  }

  .main-title {
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    h1 {
      color: white;
      font-size: 58px;
      text-align: center;
      font-family: Heebo;
    }

  }

  .button-form {
    position: absolute;
    top : 90%;
    left: 50%;
    transform: translate(-50%, 50%);

    button {
      background: #E9A816;
    }

  }

  }

}
