body {
  .main-viewport {
    height: 90vh;
    background-image: url(../../../res/images/weelz-velo-cycliste-urbain-paris-2018-1576.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -13rem;
    display: flex;
    flex-direction: column;
    width: 100%;


    .main-title {
      margin: auto;
      h1 {
        font-family: Heebo;
        color: var(--mdc-theme-background);
        font-size: 2rem;
        text-align: center;
        margin-left: .5rem;
        margin-right: .5rem;
        text-transform: uppercase;
      }
    }
    .button-form {
      text-align: center;
      margin: auto;
      top: 80%!important;
      margin: 5rem;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1280px) {
  body {
    .main-viewport {
      background-position: 0rem;
    }
  }
}

@media screen and (min-width: 641px) {
  body {
    .main-viewport {
      background-position: 0rem;
    }
  }
}
