@media screen and (max-width: 880px) {
  footer {
    background-color: #2D3037;
    color: white;
    display: flex;
    width: 100%;
    padding-top: 5rem;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    h3 {
      color: #E9A816;
      font-family: Heebo;
      font-weight: lighter;
      font-size: 1.375rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    .left-col {
      .liens-titre {
        text-align: center;
      }
      .liens {
        font-family: Montserrat;
        list-style-type: none;
        font-size: 17px;
        padding: 0;
        text-align: center;
        li {
          margin-bottom: 1rem;
          a {
            color: white;
            text-decoration: none;
          }
          a:hover {
            color: white;
          }
          a:link {
          }
          a:visited {
          }
          a:active {
            color: white;
          }
        }
      }
    }
    .center-col {
      display: none;
    }
    .right-col {
      margin: auto;
      .reseau-titre {
        text-align: center;
        margin-top: 2rem;
      }
      .reseaux {
        li {
          a {
          }
          a:hover path{
            fill: #e9a816;
          }
          a:link {
          }
          a:visited path{
          }
          a:active {
            fill: #e9a816;
          }
        }
        .reseau-haut {
          list-style-type: none;
          display: flex;
          margin: auto;
          .social-link {
            height: 3rem;
            margin-right: 1rem;
            margin-left: 1rem;
          }
        }
        .reseau-bas {
          list-style-type: none;
          display: flex;
          margin-top: 1rem;
          padding-left: 3rem;
          .social-link {
            height: 3rem;
            margin-right: 1rem;
            margin-left: 1rem;
          }
        }
      }
    }
  }


}

footer .reseaux li {
    width: 60px;
  }

@media screen and (min-width: 881px)  {

  footer {
    background-color: #2D3037;
    color: white;
    display: flex;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    h3 {
      color: #E9A816;
      font-family: Heebo;
      font-weight: lighter;
      font-size: 1.375rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    .left-col {
      width: 33%;
      padding-left: 4rem;
      .liens-titre {
      }
      .liens {
        font-family: Montserrat;
        list-style-type: none;
        font-size: 17px;
        padding: 0;
        li {
          margin-bottom: 1rem;
          a {
            color: white;
            text-decoration: none;
          }
          a:hover {
            color: #e9a816;
          }
          a:link {
          }
          a:visited {
          }
          a:active {
            color: #e9a816;
          }
        }
      }
    }
    .center-col {
      width: 33%;
      .type-velos-titre {
      }
      .velos {
        display: flex;
        li {
          margin-bottom: 1rem;
          a {
            color: white;
            text-decoration: none;
          }
          a:hover {
            color: #e9a816;
          }
          a:link {
          }
          a:visited {
          }
          a:active {
            color: #e9a816;
          }
        }
        .velos-1 {
          font-family: Montserrat;
          list-style-type: none;
          font-size: 17px;
          flex-direction: column;
        }
        .velos-2 {
          font-family: Montserrat;
          list-style-type: none;
          font-size: 17px;
          flex-direction: column;
          margin-left: 2rem;
        }
      }
    }
    .right-col {
      width: 33%;
      .reseau-titre {
        margin-left: 1rem;
      }
      .reseaux {
        display: flex;
        flex-wrap: wrap;
        li {
          a {
          }
          a:hover path{
            fill: #e9a816;
          }
          a:link {
          }
          a:visited path{
          }
          a:active {
            fill: #e9a816;
          }
        }
        .reseau-haut {
          list-style-type: none;
          display: flex;
          margin-bottom: 1rem;
          .social-link {
            margin-right: 1rem;
            margin-left: 1rem;
          }
        }
        .reseau-bas {
          list-style-type: none;
          display: flex;
          .social-link {
            margin-left: 3rem;
            margin-right: 1rem;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
