@media screen and (max-width: 930px) {
  .body-liste-magasins {
    background-color: #f5f5f5;
    .filtre {
      padding-left: 1rem;
      padding-right: 1rem;
      .filtre-map {
        background-color: white;
        width: 100%;
        height: 12rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        .map {
          width: 100%;
          height: 100%;
        }
      }
    }
    .filtre-titre {
      font-family: Heebo;
      font-size: 30px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .magasins-resultat {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 2rem;
      .c-card--preset-2 {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        .card-image {
          display: none;
        }
      }
      .c-pagination {
        width: 13rem;
      }
    }
  }
}
@media screen and (min-width: 931px) {
  .body-liste-magasins {
    background-color: #f5f5f5;
    .filtre {
      padding-left: 10rem;
      padding-right: 10rem;
      .filtre-map {
        background-color: white;
        width: 100%;
        height: 20rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    .filtre-titre {
      font-family: Heebo;
      font-size: 30px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .magasins-resultat {
      padding-left: 10rem;
      padding-right: 10rem;
      margin-bottom: 2.5rem;
      .c-card--preset-2 {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        .card-image {
          height: 14rem;
          width: 22.5rem;
        }
      }
      .c-pagination {
        width: 13rem;
      }
    }
  }
}
