@import "../css/demo-mdc.css";


/* Functions */
	/* Without "rem" */
@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize};
}

	/*  With "rem"  */
@function getRem($size) {
	@return #{calculateRem($size)}rem;
}

@mixin fontSize($size) {
  font-size: #{$size}px; //Fallback in px
  font-size: getRem($size);
}

@mixin noSelect() {
	  -webkit-touch-callout: none; /* iOS Safari */
	    -webkit-user-select: none; /* Safari */
	     -khtml-user-select: none; /* Konqueror HTML */
	       -moz-user-select: none; /* Firefox */
	        -ms-user-select: none; /* Internet Explorer/Edge */
	            user-select: none; /* Non-prefixed version, currently
	                                  supported by Chrome and Opera */
}



/* Fonctionnal */
@import "@material/ripple/mdc-ripple";
@import "@material/theme/mdc-theme";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";

/*  Elements */
@import "@material/button/mdc-button";
@import "@material/switch/mdc-switch";
@import "@material/card/mdc-card";
@import "@material/floating-label/mdc-floating-label";
@import "@material/form-field/mdc-form-field";
@import "@material/radio/mdc-radio";

@import "@material/slider/mdc-slider";

@import "@material/icon-button/mdc-icon-button";
@import "@material/checkbox/mdc-checkbox";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/notched-outline/mdc-notched-outline";


h4 {
	font-family: "Heebo", sans-serif;
	font-weight: bold;
	@include fontSize(18);
	padding: 0;
}

p {
	font-family: "Montserrat", sans-serif;
	@include fontSize(14);
}


/* Button */
.mdc-button {
	@include mdc-ripple-surface;
  	@include mdc-ripple-radius-bounded;
  	@include mdc-states;

	padding: 0 1.5rem;
  	&:focus {
  		background-color: $mdc-theme-primary;
  	}

  	&.c-button-secondary {
  		@include mdc-button-container-fill-color($mdc-theme-accent);
  	}
}

.mdc-button__label + .mdc-button__icon {
  color: white;
}


/*  Icon Button */
$mdc-icon-button-size-fill: 36 !default;

.mdc-icon-button {
  @include mdc-button-container-fill-color(primary);
  @include mdc-button-ink-color(on-primary);
  @include mdc-states(on-primary);
  @include fontSize(($mdc-icon-button-size-fill /2));

  width: getRem($mdc-icon-button-size-fill);
  height: getRem($mdc-icon-button-size-fill);
  
  padding: 0;

  border-radius: 50%;
  color : white;
  
  &:not(:disabled) {
  	color: white;
  }
}

/*  Card  */
$c-card-padding : getRem(20) !default;
$c-card-width--preset-1: getRem(240);
$c-card-width--preset-2: getRem(1000);

	/*  Preset 1 */
	.c-card--preset-1 {
		padding-top: $c-card-padding;
		width: $c-card-width--preset-1;

		/*  Fix  */
		&.c-card-fix {
			width: getRem(240);

			.card-image {
				width: 100%;
				height: getRem(150);
				background-size: cover;
    			background-position: center;
    			background-repeat: no-repeat;
			}
		}

		& > *:not(.card-image) {
			margin-left: $c-card-padding;
			margin-right: $c-card-padding;
		}

		.card-title {
			margin-bottom: getRem(8);
		}

		.card-subtitle {
			margin-bottom: getRem(20);
			color: #757575;
		}

		.card-image:not(.c-card-fix) {
			max-width: 100%;
		}


	}

	/*  Preset 2 */
	.c-card--preset-2 {
		padding-right: $c-card-padding;
		width: $c-card-width--preset-2;
		display: flex;

		& > .inner {
			display: flex;

			& > .col {
				display: flex;
				flex-direction: column;
			}
			
		}

		/*  Fix  */
		&.c-card-fix {
			.card-image {
				width: getRem(800);
				height: 100%;
				background-size: cover;
    			background-position: center;
    			background-repeat: no-repeat;
			}
		}

		.card-title {
			margin-bottom: getRem(8);
			margin-top: $c-card-padding;
		}

		.card-subtitle {
			margin-bottom: getRem(20);
			color: #757575;
		}

		.card-text {

		}

		.card-image {
			margin-right: getRem(20);
		}

		.card-tools {
			margin-top: auto;
			margin-left: auto;
			display: flex;
			padding-bottom: $c-card-padding;

			& > * {
				margin-top: auto;
			}
		}

		@media screen and (max-device-width: 640px) {
			&.card-fix {
				width: 100%;

				.card-image {
					width: 20rem;
				}
			}

			.card-text {
				display: none;
			}
		}
	}

	/* Preset 3 */
	.c-card--preset-3 {
		width: getRem(240);
		height: getRem(250);
		display: flex;
		flex-direction: column;
		padding: getRem(16);

		.card-image {
			height: getRem(90);
			margin-bottom: getRem(16);
		}

		.card-title {margin-bottom: getRem(8);}
		.card-subtitle {margin-bottom: getRem(16);}

		.card-title, .card-subtitle {
			text-align: center;
		}

		.card-image, .mdc-button, .mdc-icon-button {
			margin-left: auto;
			margin-right: auto;
		}
	}


/*  Radio  */
.mdc-radio {

	

	&.c-radio-primary {
		.mdc-radio__outer-circle {
			border-color : $mdc-theme-primary !important;
		}

		.mdc-radio__inner-circle {
			border-color: $mdc-theme-primary !important;
		}
	}
}


/* Checkbox  */

.mdc-checkbox {
	.mdc-checkbox__checkmark {
		color: white;
	}

	/* .primary {
		@include mdc-states($mdc-theme-primary);
		
		.mdc-checkbox__checkmark {
			color: black;
		}
	} */

	
}



/* Inputbox */

.mdc-text-field {
	@include mdc-text-field-fill-color(transparent);
	@include mdc-text-field-ink-color(black);
}

.mdc-text-field--outlined {
	@include mdc-text-field-ink-color(black);
}

.demo-text-field-outlined-shaped {
	.mdc-text-field__input {
		padding-left: getRem(32);
	}

	.mdc-notched-outline__leading {
		border-radius: getRem(28) 0 0 getRem(28) !important;
	}

	.mdc-notched-outline__trailing {
		border-radius: 0 getRem(28) getRem(28) 0 !important;
	}

	&.mdc-text-field--fullwidth {
		.mdc-text-field__input {
			padding-left: getRem(32) !important;
		}

		.mdc-notched-outline {
			top: 0;
		}
	}
}


/* Pagination */
.c-pagination {

	display: flex;

	.pagination-control {
		@include mdc-ripple-surface;
  		@include mdc-ripple-radius-bounded;
  		@include mdc-states;
		margin-top : auto;
		margin-bottom: auto;
		width: getRem(32);
		height: getRem(32);
		display: flex;
		cursor: pointer;

		&:before, &:after {
			top: 50%;
			left: 50%;
			width: 125%;
			height: 125%;
			transform: translate(-50%, -50%);
		}

		a {
			height: 100%;
			width: 100%;
			display: flex;
		}

		img {
			margin: auto;
			width: getRem(24);
			height: getRem(24);
		}

		&.pagination--previous {
			margin-right: getRem(8);
		}

		&.pagination--next {
			margin-left: getRem(8);
		}
	}

	.indexation {
		display: flex;

		li {
			margin: 0 getRem(8);
			.dot {
				@include mdc-ripple-surface;
  				@include mdc-ripple-radius-bounded;
  				@include mdc-states;
				background-color: $mdc-theme-primary;
				height: getRem(32);
				width: getRem(32);
				position: relative;
				border-radius: 50%;
				cursor: pointer;
				display: flex;

				&:before, &:after {
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					transform: translate(-50%, -50%);
				}

				p {
					position: absolute;
					top: 50%;
					left: 50%;
					@include fontSize(14);
					@include noSelect();
					transform: translate(-50%, -50%);
					color: white;
				}
			}
		}
	}
}