<<<<<<< HEAD
$midnight-blue : #2c3e50;

body {
  background-color: $midnight-blue;
}
=======

$midnight-blue : #2c3e50;


body {
  background-color: green;
}

html {
	margin: 0;
}
>>>>>>> 2a6011b7f49205c645d9f90e3b8c29b648c96b3f
