$midnight-blue : #2c3e50;

body {
  background-color: $midnight-blue;
}
=======

$midnight-blue : #2c3e50;


body {
  background-color: green;
}

html {
	margin: 0;
}
>>>>>>> 2722175ec6e3e2ec58c284e9d374371ca137e1cb
