<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 2722175ec6e3e2ec58c284e9d374371ca137e1cb
$midnight-blue : #2c3e50;

body {
  background-color: $midnight-blue;
}

html {
	padding-top: 0;
<<<<<<< HEAD
}
=======
}
=======
>>>>>>> master
>>>>>>> 2722175ec6e3e2ec58c284e9d374371ca137e1cb
